{
  "presets": [
    [
      "next/babel",
      {
        "preset-env": {
          "targets": {
            "chrome": "67",
            "android": "9"
          },
          "useBuiltIns": "entry",
          "corejs": 3
        }
      }
    ]
  ]
}